body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  background-color: white;
}

.hidden {
  display: none;
}

a {
  outline: none !important;
}
.header-wrap {
	background-image: url(../img/main-bg.png);
	min-height: 667px;
	background-repeat: no-repeat;
	-ms-background-position: center;
	background-position: center;
}
.header-wrap::before {
	background-color: #000;
	top: 0;
	left: 0;
	content: "";
	position: absolute;
	width: 100%;
	height: 667px;
	opacity: 0.6;
}
/* Main Logotype */
.logo {
	min-height: 110px;
	background-repeat: no-repeat;
	margin-top: 10px;
}
/* Main Navbar Logotype */
.my-navigation ul li{
	display: inline-block;
	margin-left: 10px;
}
.my-navigation {
	text-align: center;
	margin-top: 56px;
	font-family: 'HelveticaBlack', sans-serif;
	font-size: 12px;
}
.my-navigation a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	transition: .35s all ease;
	display: block;
}
.my-navigation a:hover{
	color: #ffba01;
}
/*Socail Icons*/
.social-wrap {
	text-align: center;
	margin-top: 55px;
}
.social-wrap .fa{
	color: white;
	font-size: 20px;
	margin-left: 10px;
	transition: .35s all ease;
	display: inline-block;
}
.social-wrap .fa:hover {
	color: #ffba01;
}
/*Slider*/
.slider{
	color: black;
	margin-top: 90px;
}
.slider-text-wrap .main-text {
	color: #fff;
	font-family: 'HelveticaBlack';
	font-size: 44px;
}
.main-text span {
	color: #ffba01;
}
.slider-line {
	height: 2px;
	width: 170px;
	background-color: #ffba01;
	margin: 10px 0 15px;
	position: absolute;
}
.main-text-about {
	font-family: 'HelveticaLight', sans-serif;
	font-size: 20px;
	color: #a3a3a3;
	position: relative;
	margin-top: 20px;
}
/*Dots in Slider*/
.slider .owl-dots {
	position: relative;
	bottom: 0;
	z-index: 10;
	width: 100%;
	text-align: left;
	margin-left: 10px;
}
.slider .owl-dots .owl-dot {
	background-color: #fff;
	position: relative;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0 5px 0;
	border-radius: 50%;
	margin-top: 20px;
	transition: .35s all ease
}

.slider .owl-dots .owl-dot.active {
	background-color: #ffba01;
}
/*Toggle Menu*/
.mmenu {
	height: 50px;
	background-color: #ffba01;
	width: 100%;
	margin-top: -6px;
	z-index: 999;
	position: fixed;
	text-align: center;
}
.toggle {
  width: 28px;
  height: 28px;
  padding: 20px auto;
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;

}

.toggle div {
  width: 100%;
  height: 3px;
  background: black;
  margin: 6px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

.toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle.on .two {
  opacity: 0;
}

.toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

.menu {
  color: white;
  background-color: #ffba01;
  padding-top: 10px;
  display: none;
  z-index: 999;
  width: 100%;
}
.menu a {
	color: black;
	font-size: 14px;
	font-family: 'HelveticaLight';
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width: 100%;
	border-bottom: 1px solid #d79d00;
	padding: 10px;
	transition: .35s ease all;
}
.menu a:hover{
	color: white
}
.menu ul li{
	list-style-type: none;
}

/* Section About Us */

.about-us {
	background-color: #12151c;
	height: 667px;
}
.section-title {
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
}
.section-title-text {
	font-size: 26px;
	width: 100%;
	text-align: left;
	color: #fff;
	font-family: 'HelveticaBlack', sans-serif;
}
/*Video in Section About Uss*/
.video-about-us video {
	height: 100px;
	width: 100px;
}
.vid-wrap {
	text-align: center;
	margin-top: 50px;
}
iframe {
	border: 2px solid #fff;
}
iframe:hover {
	border: 2px solid #ffba01;
}
/*Slider in Section About Us*/
.slider-about-us .slide-photo {
	-ms-background-position-x: center;
	background-position-x: center;
	width: 175px;
	height: 172px;
	background-repeat: no-repeat;
}
/*Dots in Slider*/
.slider-about-us .owl-dots {
	position: relative;
	bottom: 0;
	z-index: 10;
	width: 100%;
	text-align: center;
	margin-left: 10px;
}
.slider-about-us .owl-dots .owl-dot {
	background-color: #fff;
	position: relative;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0 5px 0;
	border-radius: 50%;
	margin-top: 20px;
	transition: .35s all ease
}

.slider-about-us .owl-dots .owl-dot.active {
	background-color: #ffba01;
}
.slide .about-us-name {
	text-transform: uppercase;
	font-family: 'HelveticaBlack', sans-serif;
	color: #ffba01;
	letter-spacing: 1px;
	margin-top: 10px;	
}
.slide a {
		text-decoration: none;
		font-size: 16px;
}
.about-us-job {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: 'HelvetivaLight',sans-serif;
}
.about-us-about {
	font-size: 12px;
	color: #909090;
	font-family: 'HelvetivaLight',sans-serif;
	letter-spacing: 1px;
}
@import 'media.css'